In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

In [4]:
df_train = pd.read_csv("/Users/pranshul/Desktop/American-Sign-Language-Translator-Web-Application/data/sign_mnist_train.csv")
df_train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,3,107,118,127,134,139,143,146,150,153,...,207,207,207,207,206,206,206,204,203,202
1,6,155,157,156,156,156,157,156,158,158,...,69,149,128,87,94,163,175,103,135,149
2,2,187,188,188,187,187,186,187,188,187,...,202,201,200,199,198,199,198,195,194,195
3,2,211,211,212,212,211,210,211,210,210,...,235,234,233,231,230,226,225,222,229,163
4,13,164,167,170,172,176,179,180,184,185,...,92,105,105,108,133,163,157,163,164,179

In [5]:
label = df_train.to_numpy()[:, :1]

df_numpy = df_train.to_numpy()[:, 1:]
# df_numpy
shape = df_numpy.shape
n = shape[0]
all_images = df_numpy.reshape((n, 28, 28))

# for i in all_images[:10]:
#     plt.imshow(i)
#     plt.show()
# # img = (np.array(df_train.iloc[0][1:])).reshape((28, 28))

In [6]:
# imgplot = plt.imshow(img)

In [7]:
# import sqlalchemy
# str((all_images[0]))

In [8]:
(str(list(df_numpy[0])))

'[107, 118, 127, 134, 139, 143, 146, 150, 153, 156, 158, 160, 163, 165, 159, 166, 168, 170, 170, 171, 171, 171, 172, 171, 171, 170, 170, 169, 111, 121, 129, 135, 141, 144, 148, 151, 154, 157, 160, 163, 164, 170, 119, 152, 171, 171, 170, 171, 172, 172, 172, 172, 172, 171, 171, 170, 113, 123, 131, 137, 142, 145, 150, 152, 155, 158, 161, 163, 164, 172, 105, 142, 170, 171, 171, 171, 172, 172, 173, 173, 172, 171, 171, 171, 116, 125, 133, 139, 143, 146, 151, 153, 156, 159, 162, 163, 167, 167, 95, 144, 171, 172, 172, 172, 172, 172, 173, 173, 173, 172, 172, 171, 117, 126, 134, 140, 145, 149, 153, 156, 158, 161, 163, 164, 175, 156, 87, 154, 172, 173, 173, 173, 173, 173, 174, 174, 174, 173, 172, 172, 119, 128, 136, 142, 146, 150, 153, 156, 159, 163, 165, 164, 184, 148, 89, 164, 172, 174, 174, 174, 174, 175, 175, 174, 175, 174, 173, 173, 122, 130, 138, 143, 147, 150, 154, 158, 162, 165, 166, 172, 181, 128, 94, 170, 173, 175, 174, 175, 176, 177, 177, 177, 177, 175, 175, 174, 122, 132, 139, 145, 149, 152, 156, 160, 163, 165, 166, 181, 172, 103, 113, 175, 176, 178, 178, 179, 179, 179, 179, 178, 179, 177, 175, 174, 125, 134, 141, 147, 150, 153, 157, 161, 164, 167, 168, 184, 179, 116, 126, 165, 176, 179, 180, 180, 181, 180, 180, 180, 179, 178, 177, 176, 128, 135, 142, 148, 152, 154, 158, 162, 165, 168, 170, 187, 180, 156, 161, 124, 143, 179, 178, 178, 181, 182, 181, 180, 181, 180, 179, 179, 129, 136, 144, 150, 153, 155, 159, 163, 166, 169, 172, 187, 184, 153, 102, 117, 110, 175, 169, 154, 182, 183, 183, 182, 182, 181, 181, 179, 131, 138, 145, 150, 155, 157, 161, 165, 168, 174, 190, 189, 175, 146, 94, 97, 113, 151, 158, 129, 184, 184, 184, 184, 183, 183, 182, 180, 131, 139, 146, 151, 155, 159, 163, 167, 175, 182, 179, 171, 159, 114, 102, 89, 121, 136, 136, 96, 172, 186, 186, 185, 185, 184, 182, 181, 131, 140, 147, 154, 157, 160, 164, 179, 186, 191, 187, 180, 157, 100, 88, 84, 108, 111, 126, 90, 120, 186, 187, 187, 186, 185, 184, 182, 133, 141, 149, 155, 158, 160, 174, 201, 189, 165, 151, 143, 146, 120, 87, 78, 87, 76, 108, 98, 96, 181, 188, 187, 186, 186, 185, 183, 133, 141, 150, 156, 160, 161, 179, 197, 174, 135, 99, 72, 95, 134, 97, 72, 74, 68, 116, 105, 108, 187, 189, 187, 187, 186, 186, 185, 134, 143, 151, 156, 161, 163, 179, 194, 156, 110, 74, 42, 52, 139, 94, 67, 75, 75, 118, 106, 129, 189, 191, 190, 188, 188, 187, 186, 135, 144, 152, 158, 163, 163, 177, 193, 161, 122, 84, 43, 71, 134, 81, 57, 71, 88, 112, 98, 157, 193, 193, 192, 190, 190, 189, 188, 136, 144, 152, 158, 162, 163, 176, 192, 164, 128, 98, 62, 60, 100, 71, 76, 96, 101, 105, 95, 174, 195, 194, 194, 194, 193, 191, 190, 137, 145, 152, 159, 164, 165, 178, 191, 164, 135, 113, 82, 59, 87, 98, 111, 120, 108, 97, 108, 190, 196, 195, 195, 194, 193, 193, 192, 139, 146, 154, 160, 164, 165, 175, 186, 163, 139, 112, 85, 67, 102, 126, 133, 126, 105, 104, 176, 197, 198, 197, 196, 195, 195, 194, 193, 138, 147, 155, 161, 165, 167, 172, 186, 163, 137, 107, 87, 76, 106, 122, 125, 117, 96, 156, 199, 199, 200, 198, 196, 196, 195, 195, 194, 139, 148, 156, 163, 166, 168, 172, 180, 158, 131, 108, 99, 86, 108, 118, 116, 103, 107, 191, 202, 201, 200, 200, 200, 199, 197, 198, 196, 140, 149, 157, 164, 168, 167, 177, 178, 155, 131, 118, 105, 87, 100, 106, 100, 96, 164, 202, 202, 202, 202, 202, 201, 200, 199, 199, 198, 140, 150, 157, 165, 167, 170, 181, 175, 152, 130, 115, 98, 82, 85, 90, 99, 165, 202, 203, 204, 203, 203, 202, 202, 201, 201, 200, 200, 142, 150, 159, 165, 170, 191, 173, 157, 144, 119, 97, 84, 79, 79, 91, 172, 202, 203, 203, 205, 204, 204, 204, 203, 202, 202, 201, 200, 142, 151, 160, 165, 188, 190, 187, 150, 119, 109, 85, 79, 79, 78, 137, 203, 205, 206, 206, 207, 207, 206, 206, 204, 205, 204, 203, 202, 142, 151, 160, 172, 196, 188, 188, 190, 135, 96, 86, 77, 77, 79, 176, 205, 207, 207, 207, 207, 207, 207, 206, 206, 206, 204, 203, 202]'

In [33]:
import json

def combine_cols(x):
    print(x)
    return list(x)[1:]

In [35]:
# df_train.to_json()
df_new_tain = pd.DataFrame()
df_new_tain['label'] = df_train['label']

# df_train.apply()

pd.Series(df_numpy)

ValueError: Data must be 1-dimensional