In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import json

In [2]:
df_train = pd.read_csv("/workspaces/American-Sign-Language-Translator-Web-Application/data/sign_mnist_test.csv")
df_train.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,6,149,149,150,150,150,151,151,150,151,...,138,148,127,89,82,96,106,112,120,107
1,5,126,128,131,132,133,134,135,135,136,...,47,104,194,183,186,184,184,184,182,180
2,10,85,88,92,96,105,123,135,143,147,...,68,166,242,227,230,227,226,225,224,222
3,0,203,205,207,206,207,209,210,209,210,...,154,248,247,248,253,236,230,240,253,255
4,3,188,191,193,195,199,201,202,203,203,...,26,40,64,48,29,46,49,46,46,53

In [3]:

#CHANGES BY SAURAV
pixels = df_train.to_numpy()[:, 1:]

# convert into JSON:
def to_json(array):
    return json.dumps(array.tolist())

json_pixels = []
for pixel in pixels:
    json_pixels.append(to_json(pixel))

label = df_train["label"].values

modified_df = pd.DataFrame(zip(json_pixels, label), columns=['Pixels', "Labels"])
print(modified_df.head())

                                              Pixels  Labels
0  [149, 149, 150, 150, 150, 151, 151, 150, 151, ...       6
1  [126, 128, 131, 132, 133, 134, 135, 135, 136, ...       5
2  [85, 88, 92, 96, 105, 123, 135, 143, 147, 152,...      10
3  [203, 205, 207, 206, 207, 209, 210, 209, 210, ...       0
4  [188, 191, 193, 195, 199, 201, 202, 203, 203, ...       3

In [15]:


df_numpy = df_train.to_numpy()[:, 1:]


# df_numpy
shape = df_numpy.shape
n = shape[0]
all_images = df_numpy.reshape((n, 28, 28))

# for i in all_images[:10]:
#     plt.imshow(i)
#     plt.show()
# # img = (np.array(df_train.iloc[0][1:])).reshape((28, 28))

In [6]:
# imgplot = plt.imshow(img)
df_train[:,1:]

TypeError: '(slice(None, None, None), slice(1, None, None))' is an invalid key

In [ ]:
# import sqlalchemy
# str((all_images[0]))

In [16]:
(str(list(df_numpy[0])))

'[149, 149, 150, 150, 150, 151, 151, 150, 151, 152, 152, 152, 152, 152, 153, 153, 151, 152, 152, 153, 152, 152, 151, 151, 150, 150, 150, 149, 150, 150, 150, 152, 152, 151, 152, 152, 152, 152, 152, 153, 154, 153, 154, 154, 153, 154, 153, 154, 153, 153, 152, 152, 152, 151, 150, 151, 150, 151, 151, 152, 152, 152, 153, 153, 152, 152, 152, 153, 154, 154, 155, 155, 154, 154, 155, 155, 155, 155, 154, 153, 153, 151, 151, 152, 150, 151, 151, 152, 152, 152, 154, 154, 154, 154, 154, 153, 154, 155, 156, 157, 157, 156, 155, 156, 155, 154, 154, 155, 152, 154, 153, 153, 151, 152, 152, 152, 154, 154, 154, 154, 154, 155, 157, 156, 156, 156, 154, 150, 146, 147, 146, 147, 143, 137, 126, 126, 142, 139, 152, 154, 152, 153, 153, 154, 154, 155, 154, 155, 155, 154, 153, 150, 144, 143, 145, 139, 142, 144, 157, 157, 147, 139, 128, 119, 130, 113, 147, 156, 151, 153, 153, 155, 155, 156, 155, 152, 145, 139, 141, 141, 141, 153, 153, 143, 135, 137, 139, 133, 121, 107, 101, 104, 110, 127, 157, 156, 151, 152, 153, 155, 155, 154, 151, 146, 139, 131, 130, 134, 137, 132, 125, 111, 101, 94, 95, 105, 113, 122, 133, 145, 153, 157, 156, 156, 152, 152, 154, 152, 151, 150, 149, 149, 139, 122, 104, 98, 92, 82, 81, 81, 85, 114, 145, 157, 160, 162, 161, 159, 157, 156, 156, 156, 151, 151, 150, 146, 145, 147, 148, 147, 145, 132, 97, 71, 62, 66, 88, 116, 145, 162, 160, 159, 157, 155, 156, 157, 157, 156, 155, 155, 151, 145, 144, 145, 147, 145, 147, 150, 150, 124, 92, 68, 63, 67, 86, 159, 163, 155, 158, 157, 156, 156, 157, 156, 156, 156, 155, 154, 143, 144, 145, 145, 143, 147, 152, 152, 128, 90, 79, 68, 64, 70, 67, 84, 147, 164, 157, 158, 157, 157, 157, 156, 157, 156, 156, 155, 145, 146, 143, 145, 145, 150, 149, 149, 139, 118, 85, 62, 62, 75, 73, 62, 67, 140, 164, 157, 158, 158, 158, 158, 157, 157, 156, 156, 150, 147, 144, 147, 149, 148, 149, 158, 158, 136, 94, 63, 58, 69, 85, 82, 67, 70, 156, 160, 159, 160, 159, 158, 157, 156, 156, 156, 147, 148, 147, 145, 148, 152, 151, 160, 153, 119, 86, 66, 64, 63, 69, 75, 78, 57, 130, 165, 158, 159, 158, 159, 158, 157, 157, 157, 149, 148, 146, 145, 147, 149, 146, 151, 144, 110, 78, 65, 66, 66, 58, 59, 64, 79, 150, 165, 162, 162, 162, 162, 161, 161, 158, 156, 151, 146, 143, 141, 138, 140, 142, 146, 144, 121, 84, 56, 62, 70, 71, 68, 57, 117, 144, 144, 147, 149, 152, 150, 146, 146, 154, 160, 147, 144, 143, 142, 140, 142, 146, 151, 154, 131, 85, 59, 51, 60, 85, 69, 64, 76, 75, 79, 81, 79, 76, 83, 112, 141, 163, 163, 144, 148, 147, 145, 145, 148, 150, 155, 151, 119, 74, 62, 63, 55, 62, 72, 73, 77, 74, 73, 68, 88, 113, 138, 162, 162, 168, 168, 146, 146, 142, 141, 141, 138, 134, 142, 124, 96, 75, 67, 65, 63, 62, 78, 87, 76, 84, 96, 126, 162, 172, 155, 144, 149, 151, 161, 142, 136, 132, 134, 127, 119, 118, 119, 103, 87, 77, 73, 70, 62, 64, 72, 93, 134, 155, 160, 166, 156, 150, 151, 143, 136, 145, 149, 130, 132, 127, 120, 114, 110, 109, 105, 91, 77, 74, 75, 74, 65, 73, 113, 166, 177, 170, 161, 152, 141, 134, 136, 140, 133, 127, 130, 113, 116, 115, 106, 101, 95, 86, 84, 85, 77, 78, 74, 76, 103, 152, 179, 170, 157, 155, 151, 140, 129, 126, 126, 133, 130, 122, 125, 81, 86, 85, 83, 76, 72, 73, 76, 77, 79, 71, 101, 151, 178, 177, 170, 161, 152, 147, 151, 133, 115, 121, 121, 124, 126, 122, 122, 61, 61, 67, 69, 70, 75, 78, 78, 81, 68, 113, 165, 174, 169, 162, 157, 149, 148, 148, 148, 126, 100, 113, 117, 113, 122, 118, 115, 69, 69, 77, 78, 75, 76, 78, 79, 67, 120, 173, 157, 159, 148, 155, 150, 138, 143, 148, 149, 123, 91, 101, 111, 111, 116, 113, 118, 74, 75, 76, 75, 75, 76, 75, 68, 124, 172, 152, 146, 146, 146, 152, 142, 131, 134, 144, 147, 125, 87, 87, 103, 107, 110, 116, 113, 75, 74, 74, 74, 76, 74, 82, 134, 168, 155, 146, 137, 145, 146, 149, 135, 124, 125, 138, 148, 127, 89, 82, 96, 106, 112, 120, 107]'

In [17]:
import json

def combine_cols(x):
    print(x)
    return list(x)[1:]

In [18]:
# df_train.to_json()
df_new_tain = pd.DataFrame()
df_new_tain['label'] = df_train['label']

# df_train.apply()

pd.Series(df_numpy)

ValueError: Data must be 1-dimensional